body {
  margin: 0;
  line-height: normal;
}
.fondo-login-1-icon {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.nelo-logo-icon {
  position: relative;
  width: 300px;
  height: 102.17px;
  flex-shrink: 0;
  object-fit: cover;
}
.regitrarse-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-2xl);
  font-weight: 700;
  font-family: var(--font-glory);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.regitrarse-button:active {
  color: var(--color-gray-300);
}
.regitrarse-button-div {
  border-radius: var(--br-lg);
  background-color: var(--color-purple);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttoncont-div {
  flex: 1;
  justify-content: space-between;
}
.buttoncont-div,
.headerbutton-div,
.headercont-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerbutton-div {
  width: 357px;
  flex-shrink: 0;
  justify-content: center;
}
.headercont-div {
  flex: 1;
  justify-content: space-between;
}
.header,
.inciair-session-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  align-self: stretch;
  background-color: var(--color-white);
  height: 150px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-3xl);
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
}
.inciair-session-h2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.15px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-gray-200);
  text-align: center;
  outline: 0;
}
.iniciar-session-div {
  align-self: stretch;
  border-radius: var(--br-md);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-2xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.correo-div,
.correo-input,
.iniciar-session-div {
  display: flex;
  align-items: center;
}
.correo-input {
  border: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  font-family: var(--font-poppins);
  color: var(--color-gray-200);
  text-align: left;
  outline: 0;
}
.correo-div {
  align-self: stretch;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-2xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.iniciar-session-div1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iniciar-session-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-2xs);
  background-color: var(--color-orange);
  border-radius: var(--br-md);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.iniciar-session-button:active {
  background-color: var(--color-purple);
}
.form,
.formcont-div,
.iniciar-session-button,
.sectioncont {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.form {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-tan);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-sm);
  justify-content: space-between;
}
.formcont-div,
.sectioncont {
  flex-direction: row;
  justify-content: center;
}
.formcont-div {
  flex: 1;
  padding: 150px var(--padding-4xl);
}
.sectioncont {
  height: 722px;
  flex-shrink: 0;
  padding: var(--padding-md) var(--padding-3xl);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}
.todos-los-derechos-reservados {
  flex: 1;
  position: relative;
  outline: 0;
}
.footer,
.login-div,
.todos-los-derechos-reservados {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-400);
  height: 150px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.login-div {
  position: relative;
  border-radius: var(--br-sm);
  width: 100%;
  height: 1080px;
  flex-direction: column;
  gap: var(--gap-md);
}
@media screen and (max-width: 1200px) {
  .header {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .buttoncont-div {
    display: none;
  }
  .header {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
}
