/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,200;0,400;0,700;1,200;1,500&display=swap');

/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-width: 320px;
}

body{
    font-family: 'Glory', sans-serif;
    color: #404040;
}
a {
    text-decoration: none;
    
}

li {
    list-style: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* REUTILIZABLES */
.center {
    text-align: center;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.primary-color {
    color: #ca2072;
}
.btn {
    background-color: #ca2072;
    color: white;
    padding: 10px 15px;
}
.img-100{
    width: 100%;
}
.btn-selected {
    background-color: #ca2072;
    border-radius: 15px;
    padding: 6px 10px ;
    color: white;

}

/* HEADER */
header nav {
    padding: 10px;
    box-shadow: 0px 3px 10px  rgba(0, 0, 0, 0.089);
    border-bottom: 1px solid rgba(0, 0, 0, 0.094);
    height: 3.5rem;
}
header nav .logo {
    padding-top: 4px;
}
header nav ul li button{
    display: none;
}
header nav button  {
    margin-right: 20px;
}
header nav .menu-btn {
    margin-right: 20px;
}
header nav .account-btns {
    display: none;
    padding-top: 5px;
    
}
header nav .account-btns a button{
    padding: 5px 10px;
   
}

/* HERO SECTION */
#hero {
    padding: 10px 10px;
    text-align: center;
    padding: 0 2rem;
}

#hero .hero-text{
    padding: 20px 0px;
    max-width: 350px;
    margin: auto;
}
#hero .hero-text h1, #hero .hero-text p , #hero .hero-text a button {
    margin-top: 15px;
}

#hero .hero-text h1{
    font-size: 2.5rem;
}
#hero .hero-img {
    margin: auto;
    max-width: 15rem;
}

/* QUOTE */
.quote {
    margin-top: 4rem;
    padding: 2rem;
    background-color:#e6d8f9 ;
   
}
.quote h2 {
    margin: auto;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
}

/* ABOUT  */
#about {
    padding: 4rem 1rem;
    max-width: 320px;
    margin: auto;
}
#about .about-img {
    max-width: 200px;
   margin: auto;
}


#about .about-text h2{
    font-size: 2rem;
    margin:  10px  0;
    font-weight: 400;
}





/* CRUD */
.crud{
    position: relative;
    background-color: rgb(252, 252, 252);
    width: 80%;
    height: 500px;
    left: 10%;
    top: 10px;
}
.crud h1{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 37px;
}
.crud a{
    text-decoration: none;
    position: absolute;
    top: 35px;
    right: 270px;
    color: white;
    background: #ca2072;
    padding: 10px 25px;
    border-radius: 50px;
}
.crud a{
    position:absolute;
    right: 60px;
    font-size: 15px;
    top: 37px;
}

.contenido{
    border-collapse: collapse;
    margin: 26px 0;
    font-size: 17px;
    min-width: 400px;
    position: absolute;
    top: 80px;
    left: 10%;
}

/* .crud button{
    padding: 0px;
    margin: 0px;
} */
.contenido thead tr{
    color: rgb(0, 0, 0);
    text-align: left; 
    font-weight: 700;
    border-bottom: 1px solid rgb(212, 212, 212);
 }
 
 .contenido th,
 .contenido td{
     padding: 12px 30px;
 }
.action-btn{
    width: 30px;
}
 
 .contenido tbody tr{
     border-bottom: 1px solid rgb(212, 212, 212);
 }
 



/* MEDIA QUERIES */
@media (min-width: 700px) {
    
    /* HEADER */
    header nav {
        justify-content: space-around;
    }
    header nav ul li button {
        display: block;
    }
    header nav .menu-btn {
        display: none;
    }
    header nav .account-btns {
        display: block;
        color: white;
    }
    /* HERO SECTION */
    #hero {
        text-align: left;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 70rem;
        margin: auto;
        padding:  5rem 20px;

    }
    #hero .hero-text {
        max-width: 520px;
        
    }
    #hero .hero-text h1 {
        font-size: 4rem;
        font-weight: medium;
     }
    #hero .hero-text p {
       width: 50%;
    }
    #hero .hero-img {
        max-width: 20rem;
    }
    /* QUOTE */
    .quote h2{
        font-size: 1.5rem;
        width: 50%;
        margin: auto;
    }

    /* ABOUT */
    #about {
        max-width: 700px;
        flex-direction: row;
    }
    #about .about-text {
        margin-left: 1.5rem ;
        padding-top: 5rem;
    }

    #about .about-text h2{
        font-size: 3rem;
    }
    #about .about-text p{
        max-width: 75%;
        margin: auto;
       
    }
    #about .about-img  {
        max-width: 500px;
    }
}

@media (min-width: 900px){
    /* HERO SECTION */
    #hero .hero-img {
        max-width: 30rem;
    }

    /* QUOTE */
     .quote h2{
        font-size: 2rem;
       
    }
    #about{
        max-width: 900px;
    }
    #about .about-text {
        padding-top: 8rem;
    }
    #about .about-text h2{
        font-size: 3.5rem;
    }

    #about .about-img  {
        max-width: 900px;
    }
}