body {
  margin: 0;
  line-height: normal;
}
.fondo-login-1-icon,
.rectangle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fondo-login-1-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div {
  background-color: #553513;
}
.info-footer-h1 {
  margin: 0;
  position: absolute;
  height: 16.35%;
  width: 89.22%;
  top: 42.14%;
  left: 5.36%;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.footer-login {
  position: absolute;
  height: 14.72%;
  width: 100%;
  top: 85.28%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 27.19px;
  color: #fff;
  font-family: Poppins;
}
.cajita-article {
  right: 0;
  bottom: 0;
  border-radius: 8.48px;
  background-color: rgba(249, 219, 155, 0.9);
}
.boton-r-div,
.cajita-article,
.registrarse-h2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.boton-r-div {
  right: 0;
  bottom: 0;
  border-radius: 8.48px;
  background-color: rgba(190, 112, 29, 0.9);
}
.registrarse-h2 {
  margin: 0;
  font-size: 20.35px;
  font-weight: 400;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botones-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.54%;
  width: 34.76%;
  top: 84.59%;
  right: 32.77%;
  bottom: 6.86%;
  left: 32.47%;
}
.checkboxchecked-checkbox-onl {
  cursor: pointer;
  position: absolute;
  height: 3.64%;
  width: 5.97%;
  top: 77.45%;
  right: 82.24%;
  bottom: 18.91%;
  left: 11.79%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.terminos-h3 {
  margin: 0;
  position: absolute;
  height: 6.11%;
  width: 55.09%;
  top: 77.5%;
  left: 20.77%;
  font-size: 13.56px;
  font-weight: 400;
  font-family: Poppins;
  color: #000;
  text-align: center;
  display: inline-block;
}
.input {
  border: 0;
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  width: 96.1%;
  top: calc(50% - 10.17px);
  right: 1.56%;
  left: 2.34%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.confirmar-contrasea-div {
  height: 6.44%;
  width: 78.56%;
  top: 65.83%;
  right: 12.4%;
  bottom: 27.73%;
  left: 9.04%;
  border-radius: 4.24px;
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
}
.confirmar-contrasea-div,
.contrasea-div,
.input2 {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.contrasea-div {
  height: 6.44%;
  width: 78.56%;
  top: 51.68%;
  right: 12.4%;
  bottom: 41.88%;
  left: 9.04%;
  border-radius: 4.24px;
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
}
.input2 {
  border: 0;
  background-color: transparent;
  margin: 0 !important;
  width: 96.1%;
  top: calc(50% - 9.75px);
  right: 1.56%;
  left: 2.34%;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.email-div {
  height: 6.3%;
  width: 78.56%;
  top: 37.68%;
  right: 12.4%;
  bottom: 56.02%;
  left: 9.04%;
  border-radius: 4.24px;
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
}
.email-div,
.input3,
.usuario-div {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.input3 {
  border: 0;
  background-color: transparent;
  margin: 0 !important;
  width: 96.1%;
  top: calc(50% - 9.74px);
  right: 1.56%;
  left: 2.34%;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.usuario-div {
  height: 6.3%;
  width: 78.56%;
  top: 22.27%;
  right: 12.4%;
  bottom: 71.43%;
  left: 9.04%;
  border-radius: 4.24px;
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
}
.confirmar-contrasea-h2 {
  margin: 0;
  position: absolute;
  top: 61.14%;
  font-weight: 400;
  font-family: Poppins;
  color: #000;
}
.confirmar-contrasea-h2,
.contrasea-h2,
.email-h2 {
  width: 75.51%;
  left: 10.84%;
  font-size: 16.96px;
  text-align: left;
  display: flex;
  align-items: center;
}
.contrasea-h2 {
  margin: 0;
  position: absolute;
  top: 47.6%;
  font-weight: 400;
  font-family: Poppins;
  color: #000;
}
.email-h2 {
  top: 33.06%;
}
.email-h2,
.registrarse-h1,
.usuario-h2 {
  margin: 0;
  position: absolute;
  font-weight: 400;
  font-family: Poppins;
  color: #000;
}
.usuario-h2 {
  width: 75.51%;
  top: 17.53%;
  left: 10.84%;
  font-size: 16.96px;
  text-align: left;
  display: flex;
  align-items: center;
}
.registrarse-h1 {
  height: 7.43%;
  width: 78.58%;
  top: 7.95%;
  left: 9.03%;
  font-size: 27.13px;
  text-align: center;
  display: inline-block;
}
.header-div,
.signup-menu-form {
  position: absolute;
  height: 56.05%;
  width: 28.83%;
  top: 24.8%;
  right: 35.59%;
  bottom: 19.15%;
  left: 35.57%;
}
.header-div {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5.086583614349365px 8.48px rgba(0, 0, 0, 0.25);
}
.nelo-logo-icon {
  position: absolute;
  height: 54.25%;
  width: 16.49%;
  top: 19.17%;
  right: 79.91%;
  bottom: 26.58%;
  left: 3.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-h1,
.home-rectangle-div {
  position: absolute;
  width: 99.77%;
}
.home-rectangle-div {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0.23%;
  border-radius: 40px;
  background-color: #ca2072;
}
.home-h1 {
  margin: 0;
  height: 77.97%;
  top: 12.74%;
  left: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: Glory;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.home-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  height: 70px;
}
.login-rectangle-div {
  position: absolute;
  height: 100%;
  width: 99.96%;
  top: 0;
  right: 0.04%;
  bottom: 0;
  left: 0;
  border-radius: 40px;
  background-color: #ca2072;
}
.login-h1 {
  margin: 0;
  position: absolute;
  height: 77.97%;
  width: 99.96%;
  top: 12.74%;
  left: 0.04%;
  font-size: 40px;
  font-weight: 700;
  font-family: Glory;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.menu-div {
  position: absolute;
  height: 46.43%;
  width: 22.06%;
  top: 27.06%;
  right: 3.76%;
  bottom: 26.51%;
  left: 74.19%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33.91px;
}
.navbar-header {
  position: absolute;
  height: 16.11%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.89%;
  left: 0;
}
.frame-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
}
